<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>addFox</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Add a new fox to the pack</h1>
    <form action="/foxes" method="post">
        <input type="text" name="name" placeholder="Name" id=""><br>
        <input type="text" name="age" placeholder="Age" id=""><br>
        <input type="text" name="favFood" placeholder="Favorite Food" id="">
        <input class="btn-primary" type="submit" value="Add to the pack!">
    </form>
</div>
    
</body>
</html>